<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Alchemex Employees</title>
</head>
<body>
    <h1>Employees</h1>
    <ul>
        <% employees.forEach(employee => { %>
            <li>
                <%= employee.name %> - <%= employee.position %>
                <a href="/employees/edit/<%= employee._id %>">Edit</a>
                <form action="/employees/delete/<%= employee._id %>" method="POST" style="display: inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
<a href="/employees/new">Add New Employee</a>
</body>
</html>
<a href="/">Back to Home Page</a>
