<% include ./layout.ejs %>
<header>
    <h1>Welcome to Alchemax</h1>
</header>
<section>
    <p>
        Led by industrialist Liz Allan, Alchemax is a mega-corporation that creates plastic, chemical, and agricultural products. They touch every major part of society, including consumer markets like food, health, and transportation.    </p>
    <nav>
        <ul>
            <li><a href="/employees">Employees</a></li>
            <li><a href="/links">Links</a></li>
            <li><a href="/technologies">Technologies</a></li>
        </ul>
    </nav>
</section>
