<% include ../layout.ejs %>
<h1>Add New Link</h1>
<form action="/links" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" required>
    <label for="url">URL:</label>
    <input type="url" name="url" required>
    <button type="submit">Add Link</button>
</form>
